html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-image: url("blu background.jpg");
  object-fit: contain;
}

.card-headers {
  font-size: 2rem;
  background-color: aquamarine;
  width: 25vw;
  padding: 100px;
  margin: 25px;
}

.all-cards {
  display: flex;
  justify-content: space-around;
}
